*{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
  
}
.navbar{
    background-color: white;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 16px 0 black;
    
}
ul li {
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    text-align: center;
}
 ul li:hover{
    background-color: blue;
    border-radius: 20px;
    color: white;
 }
 .container-fluid a {
    font-weight: bold;
 }


main{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
 main section{
   background-color: white;
   box-shadow: 5px 10px 16px 1px rgba(0, 0, 0, 0.49);
    margin: 20px;
   width: 300px;
   border-radius: 15px;
   height: auto;
   text-align: center;
  
}
main section img {
    width: 250px;
    border-radius: 15px;
    margin-top: 10px;
}
main section h2 {
    font-size: 25px;
    margin-top: 20px;
    color: blue;
}

main section p {
    font-size: 25px;
    color: blueviolet;
}















 footer{
    background-color: white;
    width: 100%;
     height: 70px;
     border-top: 3px solid rgba(0, 0, 0, 0.495);
}
.faa{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    padding: 24px;
    letter-spacing: 3px;
}
.faa span {
    color: blue;
    text-transform: uppercase;
}